@model IEnumerable<Meteoros.Assignment.Web.Models.Product>

@{
    ViewData["Title"] = "Index";
}
<!-- jQuery -->
@* <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<!-- DataTables CSS and JS -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script> *@
<h1>Product</h1>
<div class="container" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);transition: 0.3s;width: 100%;">
    <div class="card">
        <form asp-action="Edit">
            <div class="form-group">
                <table class="table">
                    <tr>
                        <td>
                            <label class="control-label">Product Name</label>
                            <input type="text" class="form-control" id="productname" />
                        </td>
                        <td>
                            <label class="control-label">Description</label>
                            <input type="text" class="form-control" id="description" />
                        </td>
                        <td>
                            <label class="control-label">Price</label>
                            <input type="text" class="form-control" id="price" />
                        </td>
                        <td>
                            <label class="control-label">Discount</label>
                            <input type="text" class="form-control" id="discount" />
                        </td>
                    </tr>
                </table>
            </div>
            <div class="form-group">


                <table class="table">
                    <tr>
                        <td>
                            <input type="button" value="Add Product" class="btn btn-primary" id="addProduct" />

                        </td>
                        <td>
                            <label class="control-label">Product Name</label>
                            <select id="productDropdown" class="form-control" style="height: 35px;width: 200px;background-color: whitesmoke;" onchange="GetProductsbyId();">
                                <option value="-1">---All---</option>
                            </select>

                        </td>

                    </tr>
                </table>
            </div>
        </form>

    </div>
</div>
<br />
<div class="container" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);transition: 0.3s;width: 100%;">
    <div class="card">
        <table id="productTbl" class="table table-striped">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Discount</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<script>
    productdata();
    GetProductDropdown();
    $('#addProduct').click(function () {
        var reqObj = {
            "Name": $('#productname').val(),
            "Description": $('#description').val(),
            "Price": $('#price').val(),
            "Discount": $('#discount').val()
        }
        $.ajax({
            url: "https://localhost:7084/api/Product",
            method: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(reqObj),
            success: function (data) {
                $("#productname").val("");
                $("#description").val("");
                $("#price").val("");
                $("#discount").val("");
                productdata();
                alert('Record added successfully');
            },
            error: function (error, a, b, c) {
                alert('Error adding record');
            }
        });
    });
    function productdata() {
        $(document).ready(function () {
            $.ajax({
                url: "https://localhost:7084/api/Product",
                method: 'GET',
                dataType: 'json',
                success: function (data) {
                    $("#productTbl > tbody").html("");
                    $.each(data, function (index, item) {
                        $('#productTbl tbody').append('<tr><td>' + item.productName + '</td><td>' + item.description + '</td><td>' + item.price + '</td><td>' + item.discount + '</td></tr>');

                    });
                },
                error: function (error) {
                    console.error('Error fetching data: ', error);
                }
            });
        });
    };

    function GetProductsbyId() {
        debugger;
        var selectedId = $('#productDropdown :selected').val();
        if (selectedId == '' || selectedId == '-1') {
            productdata();
        }
        else {

            $.ajax({
                url: 'https://localhost:7084/api/Product/' + selectedId,
                method: 'GET',
                dataType: 'json',
                success: function (item) {
                    $("#productTbl > tbody").html("");

                    // debugger;
                    // $("#price").val(data.price);
                    // $("#discount").val(data.discount);
                    // var salesprice = (data.price * data.discount) / 100;
                    // $("#salesprice").val(salesprice);
                    $('#productTbl tbody').append('<tr><td>' + item.name + '</td><td>' + item.description + '</td><td>' + item.price + '</td><td>' + item.discount + '</td></tr>');

                },
                error: function (error) {
                    console.error('Error fetching data: ', error);
                }
            });
        }
    }
    function GetProductDropdown() {
        $.ajax({
            url: 'https://localhost:7084/api/Product/GetProductsforDropdown',
            method: 'GET',
            dataType: 'json',
            success: function (data) {
                $.each(data, function (index, item) {
                    $('#productDropdown').append($('<option>', {
                        value: item.id,
                        text: item.name
                    }));
                });
            },
            error: function (error) {
                console.error('Error fetching data: ', error);
            }
        });
    };
</script>

